In [1]:
import pandas as pd

In [2]:
# Read in Master Rows

mri = pd.read_csv('inner_merge.csv', index_col=0)

mro = pd.read_csv('outer_merge.csv', index_col=0)

In [3]:
print(mro.shape)
mro.head(2)

(11789, 30)

,region_name_ppsft,state_code,metro_ppsft,county_name,size_rank_ppsft,pct_change_ppsft,ppsft_2017,state_full,loc_full,n_trips,...,Fire,Flood,Human Cause,Hurricane,Other,Severe Ice Storm,Severe Storm(s),Snow,Tornado,Volcano
0,New York,NY,New York,Queens,1,0.092089,483,New York,"Queens, New York",4519293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,0.080575,432,California,"Los Angeles, California",36765826.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
mro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11789 entries, 0 to 11788
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   region_name_ppsft               11789 non-null  object
 1   state_code                      11789 non-null  object
 2   metro_ppsft                     10859 non-null  object
 3   county_name                     11789 non-null  object
 4   size_rank_ppsft                 11789 non-null  int64
 5   pct_change_ppsft                11788 non-null  float64
 6   ppsft_2017                      11789 non-null  int64
 7   state_full                      11789 non-null  object
 8   loc_full                        11789 non-null  object
 9   n_trips                         11789 non-null  float64
 10  state_min_wage                  11789 non-null  float64
 11  fed_min_wage                    11789 non-null  float64
 12  effective_min_wage              11789 non-null  float64
 13  cpi_average                     11789 non-null  float64
 14  prp_taxes_mill                  11789 non-null  int64
 15  prp_taxes_per_capita            11789 non-null  int64
 16  prp_taxes_perc_general_rev      11789 non-null  object
 17  prp_taxes_perc_personal_income  11789 non-null  object
 18  Biological                      34 non-null     float64
 19  Earthquake                      12 non-null     float64
 20  Fire                            41 non-null     float64
 21  Flood                           44 non-null     float64
 22  Human Cause                     14 non-null     float64
 23  Hurricane                       13 non-null     float64
 24  Other                           12 non-null     float64
 25  Severe Ice Storm                14 non-null     float64
 26  Severe Storm(s)                 34 non-null     float64
 27  Snow                            2 non-null      float64
 28  Tornado                         14 non-null     float64
 29  Volcano                         11 non-null     float64
dtypes: float64(18), int64(4), object(8)
memory usage: 2.8+ MB

In [5]:
mro = mro[['region_name_ppsft', 'state_code', 'metro_ppsft', 'county_name',
       'size_rank_ppsft', 'pct_change_ppsft', 'ppsft_2017', 'state_full',
       'loc_full', 'n_trips', 'state_min_wage', 'fed_min_wage',
       'effective_min_wage', 'cpi_average', 'prp_taxes_mill',
       'prp_taxes_per_capita', 'prp_taxes_perc_general_rev',
       'prp_taxes_perc_personal_income', 'Earthquake', 'Fire',
        'Flood', 'Hurricane', 'Severe Ice Storm', 'Severe Storm(s)',
        'Tornado'
           ]]

In [6]:
# ascending=[
#                     False,
#                     True,
#                     False,
#                     False,
#                     False,
#                     False,
#                     False,
#                     False,
#                     False,
#                     False]

#                 ascending=[
#                     True,
#                     False,
#                     True,
#                     True,
#                     True,
#                     True,
#                     True,
#                     True,
#                     True,
#                     True,
#                 ]

In [7]:
# Lets start wth a massive Sort Values

rank1 = mro.sort_values(by=['ppsft_2017',
                    'n_trips',
                    'prp_taxes_mill', 
                    'state_min_wage', 
                    'Flood',
                    'Hurricane',
                    'Earthquake',
                    'Fire',
                    'Severe Storm(s)',
                    'Tornado'],
                ascending=[
                    True,
                    False,
                    True,
                    True,
                    True,
                    True,
                    True,
                    True,
                    True,
                    True,
                ])
rank1.head(2)

,region_name_ppsft,state_code,metro_ppsft,county_name,size_rank_ppsft,pct_change_ppsft,ppsft_2017,state_full,loc_full,n_trips,...,prp_taxes_per_capita,prp_taxes_perc_general_rev,prp_taxes_perc_personal_income,Earthquake,Fire,Flood,Hurricane,Severe Ice Storm,Severe Storm(s),Tornado
9335,Mahanoy City,PA,Pottsville,Schuylkill,6911,0.043478,25,Pennsylvania,"Schuylkill, Pennsylvania",877910.0,...,1584,15.5%,2.8%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9340,Ashland,PA,Pottsville,Schuylkill,8163,0.022436,25,Pennsylvania,"Schuylkill, Pennsylvania",877910.0,...,1584,15.5%,2.8%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
rank1

,region_name_ppsft,state_code,metro_ppsft,county_name,size_rank_ppsft,pct_change_ppsft,ppsft_2017,state_full,loc_full,n_trips,...,prp_taxes_per_capita,prp_taxes_perc_general_rev,prp_taxes_perc_personal_income,Earthquake,Fire,Flood,Hurricane,Severe Ice Storm,Severe Storm(s),Tornado
9335,Mahanoy City,PA,Pottsville,Schuylkill,6911,0.043478,25,Pennsylvania,"Schuylkill, Pennsylvania",877910.0,...,1584,15.5%,2.8%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9340,Ashland,PA,Pottsville,Schuylkill,8163,0.022436,25,Pennsylvania,"Schuylkill, Pennsylvania",877910.0,...,1584,15.5%,2.8%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9357,Girardville,PA,Pottsville,Schuylkill,10445,0.065217,26,Pennsylvania,"Schuylkill, Pennsylvania",877910.0,...,1584,15.5%,2.8%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9331,Shenandoah,PA,Pottsville,Schuylkill,6149,0.107955,27,Pennsylvania,"Schuylkill, Pennsylvania",877910.0,...,1584,15.5%,2.8%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9364,Shenandoah Heights,PA,Pottsville,Schuylkill,11837,0.083333,28,Pennsylvania,"Schuylkill, Pennsylvania",877910.0,...,1584,15.5%,2.8%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3299,Woodside,CA,San Francisco,San Mateo,4300,0.053856,1406,California,"San Mateo, California",2595198.0,...,1678,13.3%,2.6%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3302,Portola Valley,CA,San Francisco,San Mateo,6908,0.049397,1415,California,"San Mateo, California",2595198.0,...,1678,13.3%,2.6%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,Palo Alto,CA,San Jose,Santa Clara,597,0.047987,1593,California,"Santa Clara, California",5751611.0,...,1678,13.3%,2.6%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4489,Stinson Beach,CA,San Francisco,Marin,12213,0.076911,1607,California,"Marin, California",2527735.0,...,1678,13.3%,2.6%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3300,Atherton,CA,San Francisco,San Mateo,5070,0.078900,1796,California,"San Mateo, California",2595198.0,...,1678,13.3%,2.6%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# ok let's see what we can do with the top row..

rank1.iloc[0]['loc_full']

# 'Schuylkill, Pennsylvania'

# Can we plug this into the AirDNA API?

'Schuylkill, Pennsylvania'

In [9]:
# -- Set Up API Connection

import os
from dotenv import load_dotenv
import requests

# Load API Key
load_dotenv()
AIRDNA_TOKEN = os.getenv("AIRDNA_TOKEN")


# Same for All API Calls
HEADERS = {"access_token": AIRDNA_TOKEN}
HOST = "https://api.airdna.co/client/v1/"

def get_city_id(city_name: str) -> str:
    
    endpoint = "market/search"
    url = HOST + endpoint

    params = {
        "access_token": AIRDNA_TOKEN,
        "term": str(city_name)
    }


    response = requests.request("GET", url,  
                                params=params)

    # city_id
    city_id = response.json()['items'][0]['city']['id']
    
    return city_id

In [10]:
# It WORRRKED!
get_city_id('Schuylkill, Pennsylvania')

77708

In [14]:
rank1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11789 entries, 9335 to 3300
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   region_name_ppsft               11789 non-null  object
 1   state_code                      11789 non-null  object
 2   metro_ppsft                     10859 non-null  object
 3   county_name                     11789 non-null  object
 4   size_rank_ppsft                 11789 non-null  int64
 5   pct_change_ppsft                11788 non-null  float64
 6   ppsft_2017                      11789 non-null  int64
 7   state_full                      11789 non-null  object
 8   loc_full                        11789 non-null  object
 9   n_trips                         11789 non-null  float64
 10  state_min_wage                  11789 non-null  float64
 11  fed_min_wage                    11789 non-null  float64
 12  effective_min_wage              11789 non-null  float64
 13  cpi_average                     11789 non-null  float64
 14  prp_taxes_mill                  11789 non-null  int64
 15  prp_taxes_per_capita            11789 non-null  int64
 16  prp_taxes_perc_general_rev      11789 non-null  object
 17  prp_taxes_perc_personal_income  11789 non-null  object
 18  Earthquake                      12 non-null     float64
 19  Fire                            41 non-null     float64
 20  Flood                           44 non-null     float64
 21  Hurricane                       13 non-null     float64
 22  Severe Ice Storm                14 non-null     float64
 23  Severe Storm(s)                 34 non-null     float64
 24  Tornado                         14 non-null     float64
dtypes: float64(13), int64(4), object(8)
memory usage: 2.3+ MB

In [19]:
# TODO
# Find the highest trips but lowest ppsqft but hightest growth
# Lets start wth a massive Sort Values

rank2 = mro.sort_values(by=['n_trips',
                            'ppsft_2017',
                            'pct_change_ppsft',
                            'prp_taxes_mill', 
                            'state_min_wage', 
                            'Flood',
                            'Hurricane',
                            'Earthquake',
                            'Fire',
                            'Severe Storm(s)',
                            'Tornado'],
                        ascending=[False,
                                   True,
                                   False,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True
                                  ])
rank2.head(2)

,region_name_ppsft,state_code,metro_ppsft,county_name,size_rank_ppsft,pct_change_ppsft,ppsft_2017,state_full,loc_full,n_trips,...,prp_taxes_per_capita,prp_taxes_perc_general_rev,prp_taxes_perc_personal_income,Earthquake,Fire,Flood,Hurricane,Severe Ice Storm,Severe Storm(s),Tornado
4,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,138,0.119016,149,California,"Los Angeles, California",36765826.0,...,1678,13.3%,2.6%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Palmdale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,161,0.108622,161,California,"Los Angeles, California",36765826.0,...,1678,13.3%,2.6%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
rank2.tail(2)

,region_name_ppsft,state_code,metro_ppsft,county_name,size_rank_ppsft,pct_change_ppsft,ppsft_2017,state_full,loc_full,n_trips,...,prp_taxes_per_capita,prp_taxes_perc_general_rev,prp_taxes_perc_personal_income,Earthquake,Fire,Flood,Hurricane,Severe Ice Storm,Severe Storm(s),Tornado
11541,Wathena,KS,St. Joseph,Doniphan,8004,0.050962,85,Kansas,"Doniphan, Kansas",47140.0,...,1604,16.5%,3.1%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11323,Glasgow,MT,NaN,Valley,6580,0.056083,147,Montana,"Valley, Montana",42639.0,...,1698,18.5%,3.6%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
rank3 = mro.sort_values(by=['pct_change_ppsft',
                            'n_trips',
                            'ppsft_2017',
                            'pct_change_ppsft',
                            'prp_taxes_mill', 
                            'state_min_wage', 
                            'Flood',
                            'Hurricane',
                            'Earthquake',
                            'Fire',
                            'Severe Storm(s)',
                            'Tornado'],
                        ascending=[False,
                                   False,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True
                                  ])
rank3.head(2)

,region_name_ppsft,state_code,metro_ppsft,county_name,size_rank_ppsft,pct_change_ppsft,ppsft_2017,state_full,loc_full,n_trips,...,prp_taxes_per_capita,prp_taxes_perc_general_rev,prp_taxes_perc_personal_income,Earthquake,Fire,Flood,Hurricane,Severe Ice Storm,Severe Storm(s),Tornado
863,University,FL,Tampa,Hillsborough,1337,0.293651,82,Florida,"Hillsborough, Florida",2386683.0,...,1363,17.6%,2.7%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1408,Zellwood,FL,Orlando,Orange,11559,0.249048,78,Florida,"Orange, Florida",2461226.0,...,1363,17.6%,2.7%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
rank3.tail()

,region_name_ppsft,state_code,metro_ppsft,county_name,size_rank_ppsft,pct_change_ppsft,ppsft_2017,state_full,loc_full,n_trips,...,prp_taxes_per_capita,prp_taxes_perc_general_rev,prp_taxes_perc_personal_income,Earthquake,Fire,Flood,Hurricane,Severe Ice Storm,Severe Storm(s),Tornado
3729,Warrensburg,IL,Decatur,Macon,10698,-0.170274,53,Illinois,"Macon, Illinois",333883.0,...,2286,23.3%,4.0%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3726,Mount Zion,IL,Decatur,Macon,6488,-0.170468,63,Illinois,"Macon, Illinois",333883.0,...,2286,23.3%,4.0%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3725,Decatur,IL,Decatur,Macon,385,-0.171370,46,Illinois,"Macon, Illinois",333883.0,...,2286,23.3%,4.0%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3732,Harristown,IL,Decatur,Macon,11887,-0.175000,51,Illinois,"Macon, Illinois",333883.0,...,2286,23.3%,4.0%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7530,Fort Dodge,IA,Fort Dodge,Webster,1633,NaN,76,Iowa,"Webster, Iowa",144789.0,...,1698,15.1%,3.4%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
rank3 = mro.sort_values(by=['pct_change_ppsft',
                            'n_trips',
                            'ppsft_2017',
                            'prp_taxes_mill', 
                            'state_min_wage', 
                            'Flood',
                            'Hurricane',
                            'Earthquake',
                            'Fire',
                            'Severe Storm(s)',
                            'Tornado'],
                        ascending=[False,
                                   False,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True,
                                   True
                                  ])
rank3.head(2)

In [28]:
mro.describe()

,size_rank_ppsft,pct_change_ppsft,ppsft_2017,n_trips,state_min_wage,fed_min_wage,effective_min_wage,cpi_average,prp_taxes_mill,prp_taxes_per_capita,Earthquake,Fire,Flood,Hurricane,Severe Ice Storm,Severe Storm(s),Tornado
count,11789.000000,11788.000000,11789.000000,1.178900e+04,11789.00000,11789.00,11789.000000,1.178900e+04,11789.000000,11789.000000,12.0,41.000000,44.000000,13.000000,14.0,34.000000,14.0
mean,6154.452032,0.051585,145.206124,2.062460e+06,8.62537,7.25,9.257197,2.586600e+02,21937.959030,1753.371872,1.0,6.731707,2.704545,1.384615,1.0,2.558824,1.0
std,3530.586905,0.038090,113.074292,4.481223e+06,3.29250,0.00,2.133466,5.684583e-14,19745.290747,741.467370,0.0,4.593606,1.678587,1.386750,0.0,1.877961,0.0
min,1.000000,-0.175000,25.000000,4.263900e+04,0.00000,7.25,7.250000,2.586600e+02,898.000000,596.000000,1.0,3.000000,1.000000,1.000000,1.0,1.000000,1.0
25%,3105.000000,0.026423,84.000000,3.492740e+05,7.25000,7.25,7.250000,2.586600e+02,6918.000000,1355.000000,1.0,3.000000,1.000000,1.000000,1.0,1.000000,1.0
50%,6170.000000,0.048560,115.000000,8.195190e+05,8.70000,7.25,8.700000,2.586600e+02,14622.000000,1584.000000,1.0,4.000000,2.000000,1.000000,1.0,1.000000,1.0
75%,9208.000000,0.073540,164.000000,2.026560e+06,11.00000,7.25,11.000000,2.586600e+02,29264.000000,1948.000000,1.0,13.000000,4.000000,1.000000,1.0,4.000000,1.0
max,12243.000000,0.293651,1796.000000,3.676583e+07,14.00000,7.25,14.000000,2.586600e+02,66305.000000,3718.000000,1.0,13.000000,7.000000,6.000000,1.0,9.000000,1.0

In [32]:
# Build Disaster Column
mro_disaster_columns = mro[['Earthquake', 
                            'Fire', 
                            'Flood', 
                            'Hurricane', 
                            'Severe Ice Storm', 
                            'Severe Storm(s)', 
                            'Tornado']]

In [45]:
mro['disas_total'] = mro_disaster_columns.sum(axis=1)

In [44]:
# TODO
# Build n_trips_from_out_of_state column

In [52]:
# Build Rank Column
# ['pct_change_ppsft',
#                             'n_trips',
#                             'ppsft_2017',
#                             'pct_change_ppsft',
#                             'prp_taxes_mill', 
#                             'state_min_wage', 
#                             'Flood',
#                             'Hurricane',
#                             'Earthquake',
#                             'Fire',
#                             'Severe Storm(s)',
#                             'Tornado']

ranked = mro[['ppsft_2017',
              'pct_change_ppsft', 
              'n_trips',
              'disas_total',
              'prp_taxes_mill', 
              'state_min_wage']].rank(ascending=[True,
                                                 False,
                                                 False,
                                                 True,
                                                 True,
                                                 True])

In [56]:
ranked['loc_full'] = mro['loc_full']

In [60]:
skinny = mro[['loc_full', 
              'ppsft_2017', 
              'pct_change_ppsft', 
              'n_trips', 
              'disas_total', 
              'prp_taxes_mill', 
              'state_min_wage']]

In [61]:
skinny.sort_values('ppsft_2017')

,loc_full,ppsft_2017,pct_change_ppsft,n_trips,disas_total,prp_taxes_mill,state_min_wage
9340,"Schuylkill, Pennsylvania",25,0.022436,877910.0,0.0,20275,7.25
9335,"Schuylkill, Pennsylvania",25,0.043478,877910.0,0.0,20275,7.25
9357,"Schuylkill, Pennsylvania",26,0.065217,877910.0,0.0,20275,7.25
9331,"Schuylkill, Pennsylvania",27,0.107955,877910.0,0.0,20275,7.25
9364,"Schuylkill, Pennsylvania",28,0.083333,877910.0,0.0,20275,7.25
...,...,...,...,...,...,...,...
3299,"San Mateo, California",1406,0.053856,2595198.0,0.0,66305,13.00
3302,"San Mateo, California",1415,0.049397,2595198.0,0.0,66305,13.00
294,"Santa Clara, California",1593,0.047987,5751611.0,0.0,66305,13.00
4489,"Marin, California",1607,0.076911,2527735.0,0.0,66305,13.00
3300,"San Mateo, California",1796,0.078900,2595198.0,0.0,66305,13.00

In [63]:
# TODO
# Why are there so many Schuylkill, Pennsylvania?
ranked[ranked['loc_full'] == 'Schuylkill, Pennsylvania']

,ppsft_2017,pct_change_ppsft,n_trips,disas_total,prp_taxes_mill,state_min_wage,loc_full
9327,40.5,7103.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9328,7.0,6950.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9329,3407.0,9069.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9330,314.0,10167.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9331,4.0,10920.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9332,2087.0,7072.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9333,4740.5,5739.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9334,4439.5,7466.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9335,1.5,5232.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9336,5083.5,7607.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9337,16.5,5762.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9338,4235.0,7623.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9339,1925.0,5254.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9340,1.5,2439.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9341,21.0,9465.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9342,141.0,5977.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9343,7.0,6938.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9344,11.5,8465.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9345,3003.0,8718.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9346,34.0,10275.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9347,4825.5,4938.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9348,5283.0,6797.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9349,771.5,10982.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9350,40.5,8883.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9351,2186.0,7891.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9352,3812.0,5587.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9353,5381.5,8625.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9354,3201.5,6950.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9355,3201.5,8087.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9356,3812.0,4075.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9357,3.0,7988.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9358,62.0,9769.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9359,1064.0,1812.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9360,636.0,6463.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9361,491.5,10400.0,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9362,11.5,8465.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9363,2490.0,4720.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"
9364,5.0,9653.5,6162.5,5872.5,7595.5,3132.0,"Schuylkill, Pennsylvania"

In [57]:
ranked

,ppsft_2017,pct_change_ppsft,n_trips,disas_total,prp_taxes_mill,state_min_wage,loc_full
0,11559.0,10218.0,10805.0,5872.5,10604.0,9566.0,"Queens, New York"
1,11492.0,9483.0,11735.0,5872.5,11430.0,11126.0,"Los Angeles, California"
2,11478.0,8399.0,11735.0,5872.5,11430.0,11126.0,"Los Angeles, California"
3,11559.0,7382.0,11735.0,5872.5,11430.0,11126.0,"Los Angeles, California"
4,8168.0,11235.0,11735.0,5872.5,11430.0,11126.0,"Los Angeles, California"
...,...,...,...,...,...,...,...
11784,94.5,6432.5,114.0,5872.5,1673.5,3132.0,"Chautauqua, Kansas"
11785,9552.5,10860.0,1359.5,5872.5,3349.0,10233.0,"Clear Creek, Colorado"
11786,10297.5,11676.0,1359.5,5872.5,3349.0,10233.0,"Clear Creek, Colorado"
11787,1143.0,9559.0,977.0,5872.5,2079.0,410.5,"Polk, Tennessee"
11788,7292.0,6652.0,5057.0,5872.5,9935.0,3132.0,"Medina, Texas"

In [55]:
ranked.sort_values(by=['ppsft_2017',
              'pct_change_ppsft', 
              'n_trips',
              'disas_total',
              'prp_taxes_mill', 
              'state_min_wage'])

,ppsft_2017,pct_change_ppsft,n_trips,disas_total,prp_taxes_mill,state_min_wage
9340,1.5,2439.5,6162.5,5872.5,7595.5,3132.0
9335,1.5,5232.5,6162.5,5872.5,7595.5,3132.0
9357,3.0,7988.5,6162.5,5872.5,7595.5,3132.0
9331,4.0,10920.0,6162.5,5872.5,7595.5,3132.0
9364,5.0,9653.5,6162.5,5872.5,7595.5,3132.0
...,...,...,...,...,...,...
3299,11785.0,6597.0,9810.5,5872.5,11430.0,11126.0
3302,11786.0,6020.0,9810.5,5872.5,11430.0,11126.0
294,11787.0,5829.0,11141.5,5872.5,11430.0,11126.0
4489,11788.0,9158.0,9748.5,5872.5,11430.0,11126.0
3300,11789.0,9329.0,9810.5,5872.5,11430.0,11126.0

In [64]:
ranked['n_trips'].nunique()

1641