In [1]:
import pandas as pd
import numpy as np

In [4]:
# master row
mr = pd.read_csv('giant_merge.csv', index_col=0)

/Users/taylorcurran/prj/2021/vrb-know/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,3,4,5,10,12,13,18,19,20,21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
mr.head()

,RegionID,RegionName,State_x,Metro,CountyName,SizeRank,pct_change,2017-09,loc_full,dest_state,...,Severe Ice Storm,Severe Storm(s),Snow,Terrorist,Tornado,Toxic Substances,Tsunami,Typhoon,Volcano,state_y
0,6181.0,New York,NY,New York,Queens,1.0,0.092089,483.0,"Queens, NY",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12447.0,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2.0,0.080575,432.0,"Los Angeles, CA",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46298.0,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,34.0,0.068866,425.0,"Los Angeles, CA",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,45457.0,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,122.0,0.059937,483.0,"Los Angeles, CA",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5534.0,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,138.0,0.119016,149.0,"Los Angeles, CA",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
mr['State'].value_counts()[:5]

United States    12243
Texas              254
Georgia            159
Virginia           134
Kentucky           120
Name: State, dtype: int64

In [ ]:
mr['State_x'].isna().sum()

In [6]:
mr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18652 entries, 0 to 18651
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   RegionID                       12243 non-null  float64
 1   RegionName                     12243 non-null  object
 2   State_x                        12243 non-null  object
 3   Metro                          11297 non-null  object
 4   CountyName                     12243 non-null  object
 5   SizeRank                       12243 non-null  float64
 6   pct_change                     12242 non-null  float64
 7   2017-09                        12243 non-null  float64
 8   loc_full                       15510 non-null  object
 9   dest_state                     3139 non-null   object
 10  n_trips                        3139 non-null   float64
 11  state_x                        3142 non-null   object
 12  State_y                        3142 non-null   object
 13  State.Minimum.Wage             3142 non-null   float64
 14  Federal.Minimum.Wage           3142 non-null   float64
 15  Effective.Minimum.Wage         3142 non-null   float64
 16  CPI.Average                    3142 non-null   float64
 17  State                          15382 non-null  object
 18  Total (millions of dollars)    15382 non-null  object
 19  Per Capita (dollars)           15382 non-null  object
 20  Percentage of General Revenue  15382 non-null  object
 21  Percentage of Personal Income  15382 non-null  object
 22  Biological                     3249 non-null   float64
 23  Chemical                       9 non-null      float64
 24  Coastal Storm                  474 non-null    float64
 25  Dam/Levee Break                11 non-null     float64
 26  Drought                        1193 non-null   float64
 27  Earthquake                     168 non-null    float64
 28  Fire                           975 non-null    float64
 29  Fishing Losses                 34 non-null     float64
 30  Flood                          2705 non-null   float64
 31  Freezing                       171 non-null    float64
 32  Human Cause                    7 non-null      float64
 33  Hurricane                      2899 non-null   float64
 34  Mud/Landslide                  28 non-null     float64
 35  Other                          224 non-null    float64
 36  Severe Ice Storm               995 non-null    float64
 37  Severe Storm(s)                3042 non-null   float64
 38  Snow                           1623 non-null   float64
 39  Terrorist                      5 non-null      float64
 40  Tornado                        1096 non-null   float64
 41  Toxic Substances               9 non-null      float64
 42  Tsunami                        9 non-null      float64
 43  Typhoon                        2 non-null      float64
 44  Volcano                        49 non-null     float64
 45  state_y                        3267 non-null   object
dtypes: float64(32), object(14)
memory usage: 6.7+ MB

In [ ]:
[['RegionName', 'State', 'Metro', 'pct_change', '2017-09', 'loc_full']]

In [21]:
mr['Coastal Storm'].nlargest(10)

16257    4.0
16861    4.0
16997    4.0
18137    4.0
18139    4.0
18267    4.0
18526    4.0
15484    3.0
15491    3.0
15558    3.0
Name: Coastal Storm, dtype: float64

In [22]:
mr.iloc[16257]

RegionID                                                      NaN
RegionName                                                    NaN
State_x                                                       NaN
Metro                                                         NaN
CountyName                                                    NaN
SizeRank                                                      NaN
pct_change                                                    NaN
2017-09                                                       NaN
loc_full                         East Feliciana Parish, Louisiana
dest_state                                                    NaN
n_trips                                                       NaN
state_x                                                       NaN
State_y                                                       NaN
State.Minimum.Wage                                            NaN
Federal.Minimum.Wage                                          NaN
Effective.Minimum.Wage                                        NaN
CPI.Average                                                   NaN
State                                                         NaN
Total (millions of dollars)                                   NaN
Per Capita (dollars)                                          NaN
Percentage of General Revenue                                 NaN
Percentage of Personal Income                                 NaN
Biological                                                    2.0
Chemical                                                      NaN
Coastal Storm                                                 4.0
Dam/Levee Break                                               NaN
Drought                                                       NaN
Earthquake                                                    NaN
Fire                                                          NaN
Fishing Losses                                                NaN
Flood                                                         4.0
Freezing                                                      NaN
Human Cause                                                   NaN
Hurricane                                                    20.0
Mud/Landslide                                                 NaN
Other                                                         1.0
Severe Ice Storm                                              NaN
Severe Storm(s)                                               NaN
Snow                                                          1.0
Terrorist                                                     NaN
Tornado                                                       NaN
Toxic Substances                                              NaN
Tsunami                                                       NaN
Typhoon                                                       NaN
Volcano                                                       NaN
state_y                                                 Louisiana
Name: 16257, dtype: object

In [28]:
n_nans = []
for i in range(len(mr)):
    n_nans.append(mr.iloc[i].isna().sum())
    
mr.insert(46, 'n_nans', n_nans)

In [30]:
mr.sort_values(by='n_nans')

,RegionID,RegionName,State_x,Metro,CountyName,SizeRank,pct_change,2017-09,loc_full,dest_state,...,Severe Storm(s),Snow,Terrorist,Tornado,Toxic Substances,Tsunami,Typhoon,Volcano,state_y,n_nans
0,6181.0,New York,NY,New York,Queens,1.0,0.092089,483.0,"Queens, NY",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
7535,45536.0,Grapeview,WA,Shelton,Mason,10448.0,0.084524,247.0,"Mason, WA",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
7536,19016.0,Lilliwaup,WA,Shelton,Mason,11388.0,0.048558,188.0,"Mason, WA",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
7537,18618.0,Hoodsport,WA,Shelton,Mason,11904.0,0.037079,144.0,"Mason, WA",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
7538,12186.0,Kerrville,TX,Kerrville,Kerr,1451.0,0.065646,109.0,"Kerr, TX",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maryland, Maryland",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maryland,43
16897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Juneau City and Borough, Alaska",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alaska,43
16901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kalawao County, Hawaii",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii,43
18106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sitka City and Borough, Alaska",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alaska,43
16576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Haines Borough, Alaska",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alaska,43

In [ ]:
mr