In [11]:
# Import Statements
import pandas as pd
import numpy as np

In [25]:
# Read in Data

# Price Per Square Feet per [County, City, State, +More]
ppsft = pd.read_csv('property_value_cost/cols_price_per_sqft.csv', 
                    index_col=0)

# N Trips Ending per [County Name, State]
dest = pd.read_csv('travel_revenue/col_travel_n_times_city_is_dest.csv')

# Minimum Wage per [State]
min_wg = pd.read_csv('infrastructure_cost/cols_infra_min_wage.csv', 
                     index_col=0)

# Property Taxes per [State]
prp_taxes = pd.read_csv('taxes_cost/18_revenue_state_and_local_summary.csv')

# Natural Disasters by Type per [County Name, State]
dis = pd.read_csv('nat_disasters_cost/cols_disaster_stats.csv')

In [24]:
print(ppsft.shape)
ppsft.head()

(12243, 8)

,RegionID,RegionName,State,Metro,CountyName,SizeRank,pct_change,2017-09
0,6181,New York,NY,New York,Queens,1,0.092089,483
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,0.080575,432
2,17426,Chicago,IL,Chicago,Cook,3,0.046394,173
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,0.078478,107
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,0.082650,143

In [13]:
print(dest.shape)
dest.head()

(3139, 2)

                        dest_full     n_trips
0  Los Angeles County, California  36765826.0
1    San Diego County, California  34135667.0
2        Maricopa County, Arizona  20089450.0
3           El Paso County, Texas  16921304.0
4           Cook County, Illinois  14057822.0

In [20]:
print(min_wg.shape)
min_wg.head()

(54, 5)

,State,State.Minimum.Wage,Federal.Minimum.Wage,Effective.Minimum.Wage,CPI.Average
2808,Alabama,0.00,7.25,7.25,258.66
2809,Alaska,10.19,7.25,10.19,258.66
2810,Arizona,12.00,7.25,12.00,258.66
2811,Arkansas,10.00,7.25,10.00,258.66
2812,California,13.00,7.25,13.00,258.66

In [22]:
print(prp_taxes.shape)
prp_taxes.head()

(52, 5)

,State,Total (millions of dollars),Per Capita (dollars),Percentage of General Revenue,Percentage of Personal Income
0,United States,"$547,039","$1,667",16.6%,3.1%
1,Alabama,2921,596,7.0%,1.4%
2,Alaska,1614,2206,14.0%,3.6%
3,Arizona,8053,1106,14.7%,2.5%
4,Arkansas,2334,774,9.0%,1.8%

In [26]:
print(dis.shape)
dis.head()

(3267, 24)

,loc_full,Biological,Chemical,Coastal Storm,Dam/Levee Break,Drought,Earthquake,Fire,Fishing Losses,Flood,...,Other,Severe Ice Storm,Severe Storm(s),Snow,Terrorist,Tornado,Toxic Substances,Tsunami,Typhoon,Volcano
0,"Abbeville County, South Carolina",2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,1.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,"Acadia Parish, Louisiana",2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,3.0,...,1.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Accomack County, Virginia",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,"Ada County, Idaho",2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Adair County, Iowa",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,2.0,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN